*{
    padding: 0px;
    margin: 0px;
    color: white;
}

header{
    height: 60px;
    background-color: #0f1111;
}

#logo{
    font-size: 25px;
    color: #f08804;
}

button{
    background-color: #f08804;
}

a{
    margin-right: 200px;
}

.contentbox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 500px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}