*{          /*Univearl selector*/
    color: green;
}

h1{          /*Element selector*/
     color: red;
}

#headingOne{    /*ID selector (Not good practise to give same id to multiple element)*/
    color: blue;
    text-align: center;
    text-decoration:green wavy underline;
    font-weight: 200;   /*font weight lies btw 100-900*/
    font-family: system-ui;
    font-size: 25px;
    text-transform: lowercase;
}

.c{             /*class selector (when u want to give same style to multiple element then use class selector)*/
    color: black;
}

.d{
    display: inline; /*inline occupy only space req by the element*/
}

button{
    display: block; /*block will occupy full width of element*/
}